
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - aws-iam.redradrat.xyz
  resources:
  - policies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws-iam.redradrat.xyz
  resources:
  - policies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - aws-iam.redradrat.xyz
  resources:
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws-iam.redradrat.xyz
  resources:
  - roles/status
  verbs:
  - get
  - patch
  - update
