---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: policies.aws-iam.redradrat.xyz
spec:
  group: aws-iam.redradrat.xyz
  names:
    kind: Policy
    listKind: PolicyList
    plural: policies
    shortNames:
    - iampolicy
    singular: policy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.arn
      name: ARN
      type: string
    - jsonPath: .status.message
      name: Message
      type: string
    - jsonPath: .status.state
      name: Status
      type: string
    - jsonPath: .status.lastSyncAttempt
      name: Last Sync
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: Policy is the Schema for the policies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PolicySpec defines the desired state of Policy
            properties:
              description:
                description: Description holds the description string for the Role
                type: string
              statement:
                description: Statements holds the list of all the policy statement
                  entries
                items:
                  properties:
                    actions:
                      description: Actions holds the desired effect the statement
                        should ensure
                      items:
                        type: string
                      type: array
                    conditions:
                      additionalProperties:
                        additionalProperties:
                          type: string
                        type: object
                      description: Conditions specifies the circumstances under which
                        the policy grants permission
                      type: object
                    effect:
                      description: Effect holds the desired effect the statement should
                        ensure
                      type: string
                    resources:
                      description: Resources denotes an a list of resources to which
                        the actions apply. If you do not set this value, then the
                        resource to which the action applies is the resource to which
                        the policy is attached to
                      items:
                        type: string
                      type: array
                    sid:
                      description: Sid is an optional Statement ID to identify a Statement
                      type: string
                  type: object
                type: array
            type: object
          status:
            properties:
              arn:
                description: Arn holds the concrete AWS ARN of the managed policy
                type: string
              lastSyncAttempt:
                description: LastSyncTime holds the timestamp of the last sync attempt
                type: string
              message:
                description: Message holds the current/last status message from the
                  operator.
                type: string
              observedGeneration:
                description: ObservedGeneration holds the generation (metadata.generation
                  in CR) observed by the controller
                format: int64
                type: integer
              state:
                description: State holds the current state of the resource
                type: string
            required:
            - arn
            - lastSyncAttempt
            - message
            - observedGeneration
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
